div.fg_0{
    flex-grow: 0;
}

#site_header a{
    color: white ;
}

.bg_navbar{
    background-color: #2c3e50;
}

.bg_hero_primary{
    background-color: #1abc9c;
    min-height: 100px;
    color: white;
}

.hero_img img{
    width: 200px;
}

.portfolio_img img{
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}