#site_header{
    height: 50px;
}

#site_header .logo{
    background-color: green;
}

#site_header .menu{
    background-color: green;
}

.sm_start{
    background-color: rgb(68, 75, 75);
}

.sm_img div{
    height: 250px;
    background-color: aquamarine;
    border: 1px solid black;
}

.sm_links{
    background-color: blueviolet;
}

.sm_about{
    background-color: brown;
}