div.fg_0{
    flex-grow: 0;
}

#site_header a{
    color: white ;
}

.bg_navbar{
    background-color: #2c3e50;
}

.bg_hero_primary{
    background-color: #1abc9c;
    color: white;
}

.hero_img img{
    width: 200px;
}

.portfolio_img img{
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}

.bg_secondary{
    background-color: #3a546d;
}

.star{
    width: 100%;
}

.line_white{
    border-top: 3px solid white;
    width: 20%;
    border-radius: 3px;
    margin: 0 1rem 0 1rem;
}

.line_black{
    border-top: 3px solid black;
    width: 20%;
    border-radius: 3px;
    margin: 0 1rem 0 1rem;
}

.navbar-toggler{
    border: 1px solid white !important;
}

.form-group input,
.form-floating textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#site_footer span{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:0.5rem;
    
}